In [1]:
import pandas as pd 
import numpy as np
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
import random
import requests 
import csv
from bs4 import BeautifulSoup

In [2]:
data = pd.read_csv('Amazon.csv',encoding= 'unicode_escape')

In [3]:
data.head()

                                           Brand      Amazon
0        Hovis Thick Sliced White Bread (1x800g)  B000N1XPEY
1                  Tea Towels Terry Check (1x10)  B000NM75KI
2            ES Buttery Spread PMP 50p (24x250g)  B000QU95XW
3                Pepsi Max PET PMP £1.89 (6x2lt)  B000UE2YVE
4  CL Professional Extra Str Refuse Sacks (2x90)  B0012344GK

In [4]:
am_id = data.take([1], axis=1)

In [5]:
am_id.astype(str)

         Amazon
0    B000N1XPEY
1    B000NM75KI
2    B000QU95XW
3    B000UE2YVE
4    B0012344GK
..          ...
515  B0875597YZ
516  B08755JHLR
517  B087DMXKYC
518  B087FPMC6J
519  B08B2BP7QN

[520 rows x 1 columns]

In [6]:
type(am_id.iloc[4])

pandas.core.series.Series

In [7]:
final = am_id.Amazon.values

In [8]:
final[0]

'B000N1XPEY'

In [9]:
key = ('https://www.amazon.co.uk/s?k='+final[1]+'&ref=nb_sb_noss')
print(key)

https://www.amazon.co.uk/s?k=B000NM75KI&ref=nb_sb_noss

In [28]:
bot = webdriver.Chrome("/users/harsh/downloads/chromedriver")

In [29]:
aaa = []
bsdk = []
for i in range (5): 
    key = ('https://www.amazon.co.uk/s?k='+final[i]+'&ref=nb_sb_noss')
    var = [final[i]]
    bot.get(key)
    time.sleep(2)
    data = BeautifulSoup(bot.page_source)
#     name_box = data.find('span', attrs={'class':'a-size-base-plus a-color-base a-text-normal'})
#     bsdk.append(name_box)
#     try:
#         var.append(name_box)
#     except:
#         var.append("Empty Space")
    try:
        bot.find_element_by_class_name('s-image').click()
        time.sleep(2)
        data = BeautifulSoup(bot.page_source)
        name_box1 = data.find('span', attrs={'class':'a-size-medium a-color-price priceBlockBuyingPriceString'})
        try:
            var.append(name_box1)
        except:
            var.append("Empty Space")
        time.sleep(0.5)
        data = BeautifulSoup(bot.page_source)
        name_box2 = data.find('span', attrs={'class':'priceBlockStrikePriceString a-text-strike'})
        try:
            var.append(name_box2)
        except:
            var.append("Empty Space")
        name_box = data.find('span', attrs={'class':'a-size-large product-title-word-break'})
        try:
            var.append(name_box)
        except:
            var.append("Empty Space")
        
    except:
        pass
    aaa.append(tuple(var))

In [21]:
bsdk

[None, None, None, None, None]

In [ ]:
aaa1

In [30]:
aaa

[('B000N1XPEY',),
 ('B000NM75KI',
  <span class="a-size-medium a-color-price priceBlockBuyingPriceString" id="priceblock_ourprice">£7.39</span>,
  <span class="priceBlockStrikePriceString a-text-strike"> £7.90</span>,
  <span class="a-size-large product-title-word-break" id="productTitle">







  Robert Scott Tea Towels with a Coloured Check Design | Pack of 10 | Assorted Colours | Machine Washable | Absorbent Fabric






  </span>),
 ('B000QU95XW',),
 ('B000UE2YVE',),
 ('B0012344GK',
  <span class="a-size-medium a-color-price priceBlockBuyingPriceString" id="priceblock_ourprice">£5.99</span>,
  None,
  <span class="a-size-large product-title-word-break" id="productTitle">







  Addis 90L Plastic Refuse Sacks Black, 20 Each






  </span>)]

In [31]:
aaa2

NameError: name 'aaa2' is not defined

In [ ]:
description = [nigga.text.strip() for nigga in aaa if nigga is not None]

In [ ]:
description

In [ ]:
len(description)

In [ ]:
des = 'sdsads'
price1 = ''
price2 = None
data = []
data.append((des, price1, price2))

In [ ]:
a = [1,2,3]

In [34]:
a = ['abc', None, None]

In [35]:
a

['abc', None, None]