In [146]:
import pandas as pd 
import numpy as np
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
import random
import requests 
import csv
from bs4 import BeautifulSoup

In [110]:
data = pd.read_csv('Amazon.csv',encoding= 'unicode_escape')

In [111]:
data.head()

                                           Brand      Amazon
0        Hovis Thick Sliced White Bread (1x800g)  B000N1XPEY
1                  Tea Towels Terry Check (1x10)  B000NM75KI
2            ES Buttery Spread PMP 50p (24x250g)  B000QU95XW
3                Pepsi Max PET PMP £1.89 (6x2lt)  B000UE2YVE
4  CL Professional Extra Str Refuse Sacks (2x90)  B0012344GK

In [100]:
am_id = data.take([1], axis=1)

In [125]:
am_id.astype(str)

         Amazon
0    B000N1XPEY
1    B000NM75KI
2    B000QU95XW
3    B000UE2YVE
4    B0012344GK
..          ...
515  B0875597YZ
516  B08755JHLR
517  B087DMXKYC
518  B087FPMC6J
519  B08B2BP7QN

[520 rows x 1 columns]

In [131]:
type(am_id.iloc[4])

pandas.core.series.Series

In [137]:
final = am_id.Amazon.values

In [138]:
final[0]

'B000N1XPEY'

In [141]:
key = ('https://www.amazon.co.uk/s?k='+final[1]+'&ref=nb_sb_noss')
print(key)

https://www.amazon.co.uk/s?k=B000NM75KI&ref=nb_sb_noss

In [178]:
bot = webdriver.Chrome("/users/harsh/downloads/chromedriver")

In [196]:
for i in range (20):
    key = ('https://www.amazon.co.uk/s?k='+final[i]+'&ref=nb_sb_noss')
    try:
        bot.get(key)
        bot.maximize_window()
        time.sleep(2)
        aaa = []
        data = BeautifulSoup(bot.page_source)
        name_box = data.find('span', attrs={'class':'a-size-medium a-color-base a-text-normal'})
        aaa.append(name_box)
        description = [nigga.text.strip() for nigga in aaa]
        bot.find_element_by_tag_name('h2').click()
        time.sleep(2)
        aaa1 = []
        data = BeautifulSoup(bot.page_source)
        name_box1 = data.find('span', attrs={'class':'a-size-medium a-color-price priceBlockBuyingPriceString'})
        aaa1.append(name_box1)
        shelf_price = [nigga.text.strip() for nigga in aaa1]
        time.sleep(0.5)
        aaa2 = []
        data = BeautifulSoup(bot.page_source)
        name_box2 = data.find('span', attrs={'class':'priceBlockStrikePriceString a-text-strike'})
        aaa2.append(name_box2)
        base_price = [nigga.text.strip() for nigga in aaa2]
    except:
        pass

In [197]:
description

['Homepride Flour Self Raising, 1 kg']